*
{
    margin: 0px; padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    background: lightblue;
    align-items: baseline;
    display: flex; 
    justify-content: center;
    min-height: 100vh;

}
.container
{
   position: relative;
   width: 100%; max-width: 1000px;
   min-height: 1000px; background: #FFF;
   margin: 50px; display: grid;
   grid-template-columns: 1fr 2fr;
   box-shadow: 0 35px 55px rgb(0, 0, 0, 0, 1);
}
.container .left_slide
{
    position: relative;
    background: #003147;
    padding: 40px;
    line-height: 25px;
}
.textProfil
{
    position:  relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px; border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.textProfil .profil
{
    position: relative;
    width: 200px;
    height: 200px; 
    border-radius: 50%;
    overflow: hidden;
    
}
.textProfil .profil img
{
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.textProfil h2
{
    color: #FFF; text-transform: uppercase;
    margin-top: 20px; font-size: 1.5em;
    text-overflow: center; font-weight: 600;
    line-height: 1.4em;text-align: center ;
}
.textProfil h2 span
{
    font-size: 0.8em;
    font-weight: 300;
}
.contactInfo
{
    padding-top: 40px;

}
.titre
{
    color: #FFF; text-transform: uppercase;
    font-weight: 600; letter-spacing: 1px;
    margin-bottom: 20px;
}
.contactInfo ul
{
    position: relative;
}
.contactInfo ul li
{
    position: relative;
    list-style: none;
    margin: 10px 0; cursor: pointer;
}
.contactInfo ul li .icon
{
   display: inline-block;
   width: 30px; font-family: 20px;
   color: #03a9f4;
}
.contactInfo ul li span
{
   color: #FFF; font-weight: 300;

}

.contactInfo.Education li
{
    margin-bottom: 15px;
}

.contactInfo.Education h5
{
    color: #03a9f4; font-weight: 500;
}

.contactInfo.Education h4:nth-child(2)
{
    color: #FFF; font-weight: 500;
}

.contactInfo.Education h4
{
    color: #FFF; font-weight: 300;
}

.contactInfo.langues .pourcent
{
    position: relative;  width: 100%;
    height: 6px; background: #081921;
    display: block; margin-top: 5px;
}
.contactInfo.langues .pourcent em
{
    position: absolute;  
    top: 0;
    left: 0; height: 100%;
    background: #03a9f4;
}





/*'-----------------------------------Partie droite de la page---------------------------------------------------*/

.container .right_slide
{
    position: relative;
    background: #FFF;
    padding: 40px;
    line-height: 25px;
}
.apropos
{
    margin-bottom: 50px;
}

.apropos:last-child
{
    margin-bottom: 0;
}
.titre2
{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p
{
    columns: #333;
}
.appropos .box
{
    display: flex; flex-direction: row;
    margin: 20px 0;
}
.appropos .box .annee_service
{
   min-width: 150px;
}
.appropos .box .annee_service h5
{
    text-transform: uppercase;
    color: #848c90; font-weight: 600;
}
.appropos .box .text h4
{
    text-transform: uppercase;
    color: #2a7da2;
     font-size: 16px;

}
.competence .box
{
    position: relative; width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}
.competence .box h4
{
   text-transform: uppercase;
   color: #848c99;
   font-weight: 500;
}
.competence .box .pourcent
{
  position: relative; width: 100%;
  height: 100%;
  background: #f0f0f0;
}

.competence .box .pourcent div
{
  position: absolute; top: 0;
  left: 0; height: 100%;
  background: #30a9f4;

}
.hobbies
{
    margin-top: 150px;
}
.hobbies ul
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.hobbies ul li
{
 list-style: none; 
 color: #333;
 font-weight: 500; margin: 10px 0;
}
/* LES ICONES */
.box h4 .fa
{
color: #03a9f4; font-weight: 35px;
width: 25px;
}
.hobbies ul li .fa
{
color: #03a9f4; font-weight: 18px;
width: 25px;
}

@media (max-width: 1000px)
{
    .container
    {
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
}
@media (max-width: 600px)
{
    .appropos .box
    {
        flex-direction: column;
    }
    .appropos .box .annee_service
    {
        min-width: 150px;
        margin-bottom: 5px;
    }
        .hobbies ul
    {
     
        grid-template-columns: repeat(1,1fr);
    }
  
}



